Source: gnegar
Section: python
Priority: required
Maintainer: Ramin Najjarbashi (ramin.najarbashi@gmail.com)
DM-Upload-Allowed: yes
Build-Depends: python-setuptools (>= 0.6.24), myspell-fa, python-qt4 (>= 4.9.1), python-enchant (>= 1.6.5)
X-Python-Version: >=2.5, <=2.7
Standards-Version: 3.9.3

Package: gnegar
Architecture: all 
Homepage: http://raminnietzsche.github.com/GuiNegar/
XB-Python-Version: ${python:Versions}
Pre-Depends:  python-setuptools (>= 0.6.24), myspell-fa, python-qt4 (>= 4.9.1), python-enchant (>= 1.6.5)
#${shlibs:Depends}, ${misc:Depends}
Description: GNegar --- This script help you to make correct persian text ;)
 .
        این برنامه به شما کمک می‌کند تا به سادگی متون خود را ویرایش کنید‌. اشتباهات خود را تصحیح کنید‌، اعداد را فارسی بنویسید و اشتباهات نگارشی رایج را بدون دردسر تصحیح کنید‌. 
