Source: gnegar
Section: python
Priority: required
Maintainer: Ramin Najjarbashi (ramin.najarbashi@gmail.com)
DM-Upload-Allowed: yes
Build-Depends: python-setuptools (>= 0.6.24), myspell-fa, python-qt4 (>= 4.9.1), python-enchant (>= 1.6.5)
X-Python-Version: >=2.5, <=2.7
Standards-Version: 3.9.3

Package: gnegar
Architecture: all 
Homepage: http://raminnietzsche.github.com/GuiNegar/
XB-Python-Version: ${python:Versions}
Pre-Depends:  python-setuptools (>= 0.6.24), myspell-fa, python-qt4 (>= 4.9.1), python-enchant (>= 1.6.5)
#${shlibs:Depends}, ${misc:Depends}
Description: This Scrip help you to write correct persian text ;) این برانه به شما کمک می کند تا به راحتی متون خود را ویرایش کنید و استباهات املایی آن را حدس می زند! 
